* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #000430;
    --secondaryBackground: #171c48;
    --text: #fff;
    --mediumspringgreen: #17fbba;
    --mediumvioletred: #F64CC3;
    --cornflowerblue: #4ca1f6;
    --teal: #24feee;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


body {
    background-color: var(--background);
    color: var(--text);

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
}

.stats-container {
    display: flex;
    padding: 30px;
    border: 2px solid var(--mediumspringgreen);
    border-radius: 10px;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
}

#progress-bar {
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 10px;
}

.details {
    width: 100%;
}

.details>p {
    margin-top: 10px;
}

#progress {
    width: 0%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}

#numbers {
    width: 100px;
    height: 100px;
    background-color: var(--mediumvioletred);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
}

form {
    margin-top: 4rem;
    width: 100%;
    display: flex;

}

input {
    flex: 1;
    padding: 10px;
    color: var(--text);
    background: var(--secondaryBackground);
    border: 1px solid var(--mediumvioletred);
    border-radius: 10px;
    outline: none;
    height: 50px;

}


button {
    margin-top: 5px;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cornflowerblue);
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: var(--text);
    margin-left: 10px;
    outline: none;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

.taskItem {
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-align: justify;
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
    text-align: justify;
}


.icons>i {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    cursor: pointer;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: justify;
    margin-right: 20px;
    padding: 10px;
}

.completed>p {
    text-decoration: line-through;
    color: var(--teal);
}